{name, "beamjs"}.
{authors, ["Yurii Rashkovskii <yrashk@gmail.com>"]}.
{description, "Erlang-based JavaScript platform"}.
{homepage, "http://beamjs.org/"}.
{license, "BSD2", "LICENSE"}.
{url, {git, "https://github.com/beamjs/beamjs.git", {branch, "master"}}}.
{applications, [beamjs]}.
{build_command, "make"}.
{bin_files, ["bin/beamjs"]}.
{install_command, "make release && cp -rv rel/beamjs/ $AGNER_INSTALL_PREFIX"}.
